<!--header where routes can happen between components -->
<div></div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark-blue">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                
                <li class="nav-item">
                    <a class="nav-link" routerLink="myspace" routerLinkActive="active-link"> <img src="../../assets/myspace.png" alt="myspace" class="nav-icon">My Space</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="home" routerLinkActive="active-link"><img src="../../assets/home_image.png" alt="Home" class="nav-icon">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="events" routerLinkActive="active-link"><img src="../../assets/events.png" alt="events" class="nav-icon">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="videos" routerLinkActive="active-link"><img src="../../assets/videos.png" alt="videos" class="nav-icon">Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="register" routerLinkActive="active-link"><img src="../../assets/register.png" alt="register" class="nav-icon">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="live" routerLinkActive="active-link"><img src="../../assets/house.png" alt="Home" class="nav-icon">Live</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
            </ul>
        </div>
    </div>
</nav>
